//@theme "/home/will/.local/share/rofi/themes/rounded-green-dark.rasi"
//@theme "/home/will/.local/share/rofi/themes/spotlight.rasi"
//@theme "/usr/share/rofi/themes/paper-float.rasi"
//@theme "/home/will/.local/share/rofi/themes/rounded-yellow-dark.rasi"
//@theme "/usr/share/rofi/themes/Arc.rasi"
@theme "/home/will/.local/share/rofi/themes/rounded-nord-dark.rasi"
