[Desktop Entry]
Name=UHK Agent
Exec=/home/will/apps/UHK.Agent-3.2.1-linux-x86_64.AppImage
Terminal=false
Type=Application
Icon=/home/will/apps/icons/uhk-agent.png
StartupWMClass=UHK Agent
X-AppImage-Version=3.2.1
Comment=Agent is the configuration application of the Ultimate Hacking Keyboard.
Categories=Utility;
