.xfce4-panel#XfcePanelWindow {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.xfce4-panel .tasklist .toggle :checked {
  border-radius: 10px;
}

.xfce4-panel widget grid button.flat.toggle:checked {
  border-bottom: 1px solid yellow;
}
